.container-h1 {
    font-size: 35px;
}

.subContainer {
    margin-top: 50px;
    margin-left: 100px;
    width: 1000px;
}

.subContainer-h2 {
    margin-bottom: 10px;
}

.subContainer textarea {
    width: 1000px;
    height: 150px;
    font-size: x-large;
    padding-left: 8px;
    padding-top: 6px;
    outline: none;
    border-radius: 5px;
}

.subContainer textarea:hover {
    outline: 1px solid var(--navBackground-color);
}

.subContainer-btn {
    margin: 30px 30px 0px 0px;
    font-size: 20px;
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--navBackground-color);
    color: white;
}

.subContainer-btn:hover {
    color: rgb(255, 100, 100);
}

.clearText {
    background-color: rgb(255, 50, 50);
}

.clearText:hover {
    color: white;
}

.copyText {
    background-color: darkgreen;
}

.copyText:hover {
    color: white;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .subContainer {
        margin-left: 80px;
        width: 850px;
    }

    .subContainer textarea {
        width: 850px;
    }
}

@media (max-width: 1024px) {
    .subContainer {
        margin-left: 50px;
        width: 700px;
    }

    .subContainer textarea {
        width: 700px;
    }
}

@media (max-width: 800px) {
    .subContainer {
        margin-left: 30px;
        width: 500px;
    }

    .subContainer textarea {
        width: 500px;
    }
}

@media (max-width: 550px) {
    .container-h1 {
        font-size: 23px;
    }

    .subContainer {
        margin-top: 40px;
        margin-left: 20px;
        width: 350px;
    }

    .subContainer-h2 {
        font-size: 20px;
        margin-bottom: 6px;
    }

    .subContainer textarea {
        width: 350px;
        font-size: large;
    }

    .subContainer-btn {
        margin: 15px 15px 0px 0px;
        font-size: 15px;
        padding: 6px 8px;
        border-radius: 3px;
    }
}

@media (max-width: 385px) {
    .container-h1 {
        font-size: 22px;
    }

    .subContainer-h2 {
        font-size: 19px;
    }

    .subContainer textarea {
        width: 320px;
        font-size: medium;
    }

    .subContainer-btn {
        margin: 12px 12px 0px 0px;
        font-size: 13px;
        padding: 5px 7px;
    }
}