.success-message {
    text-align: center;
    margin-top: 100px;
}

/* Form */
.contact-form {
    text-align: center;
    line-height: 90px;
    margin-top: 100px;
    margin-bottom: -150px;
}

.contact-form-input {
    width: 70%;
    max-width: 800px;
    height: 50px;
    border: 2px solid var(--navBackground-color);
    padding-left: 10px;
    font-size: x-large;
    outline: none;
    border-radius: 5px;
}

.textarea {
    height: 150px;
    font-size: xx-large;
    margin-top: 18px;
    margin-bottom: -20px;
}

.contact-btn {
    color: white;
    background-color: var(--navBackground-color);
    font-size: 25px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.contact-btn:hover {
    border-radius: 8px;
    color: rgb(255, 100, 100);
}

/* Responsive Design */
@media (max-width: 550px) {
    .success-message {
        margin-top: 60px;
    }

    .contact-form {
        line-height: 70px;
        margin-top: 40px;
        margin-bottom: -220px;
    }

    .textarea {
        font-size: x-large;
        margin-top: 6px;
        margin-bottom: -25px;
    }

    .contact-btn {
        font-size: 20px;
    }

    .textarea {
        height: 200px;
    }
}